.bubble-items {
  display: flex;
  box-shadow: none;
  justify-content: center;
  flex-wrap: wrap;
  flex: column;
}

.bubble {
  border: 2px solid #14bcf0;
  color: #ffffff;
  border-radius: 50px;
  width: 7em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.bubble .bubble-pop-up-text {
  visibility: hidden;
  width: 40%;
  background-color: WhiteSmoke;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  /* Position the text */
  position: absolute;
  left: 40px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  border: solid 1px black;
}

.bubble:hover .bubble-pop-up-text {
  visibility: visible;
}

.bubble:hover {
  background-color: #4286f4;
  box-shadow: 7px 6px 5px 1px #ded2d2;
}
