.container {
  -webkit-box-shadow: 7px 6px 5px 1px #542b2b;
  box-shadow: 7px 6px 5px 1px #ded2d2;
  max-width: 20em;
  margin: 1em;
  padding: 15px;
  background-color: #f5fbfd12;
  border: solid 2px #e8eaea;
  border-radius: 1px;
  height: fit-content;
  overflow: hidden;
}

.master-container {
  background-color: WhiteSmoke;
}

.fishyfishy {
  height: 300px;
  width: 900px;
}

.container h2, h3 {
  text-align: center;
}

.footer {
  width: 550em;
  display: inline-block;
  height: 120px;
  background-color: #14bcf0;
  position: absolute;
}

.footer p {
  color: White;
  display: inline-block;
}

/* All containers have the container css, and one of the following styles
that overwrite the attributes or add additional ones for the specific subject*/

.books {
  max-width: 54em;
  padding: 2em;
}

.competences {
  max-width: 45%;
  height: 20em;
}

.description {
}

.education {
  min-height: 15em;
  max-width: 54em;
  padding: 2em;
}

.large-container {
  display: flex;
  flex-direction: column;
}

.jobmarket {
  max-width: 56em;
}

.network {
  max-width: 50%;
  height: 35em;
}

.personality {
  max-width: 40em;
}

.network-img img {
  border: solid 2px #c9d9e6;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.salary {
  max-width: 40%;
  height: 35em;
}

.vacancies {
  max-width: 85em;
  min-height: 20em;
  padding: 2em;
}
/*End of container styles  */

.chart-jobmarket {
  width: 100%;
  height: 20em;
  position: relative;
}

.counter p {
  font-size: 30px;
  text-align: center;
  background-color: #7DD5F0;
  border-radius: 100px;
}

.slider {
  padding: 4em, 4em, 4em, 4em;
}

.slider img {
  height: 120px;
}
