.container {
  -webkit-box-shadow: 7px 6px 5px 1px #542b2b;
  box-shadow: 7px 6px 5px 1px #ded2d2;
  margin: 1em;
  padding: 15px;
  background-color: #f5fbfd12;
  border: solid 2px #e8eaea;
  border-radius: 1px;
  height: fit-content;
  max-width: 40%;
  overflow: hidden;
}

.master-container {
  background-color: WhiteSmoke;
}

.fishyfishy {
  height: 100%;
  width: auto;
}

.fishyfishy div {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container h2, h3 {
  text-align: center;
}

/* All containers have the container css, and one of the following styles
that overwrite the attributes or add additional ones for the specific subject*/

.beroepskeuze {
  max-width: 40%;
}

.beroepskeuze h2 {
  color: black;
  font-style: italic;
}

.drawer {
  background-color: #14bcf0;
}

.books {
  max-width: 60%;
}

.competences {
  max-width: 30%;
}

.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.single-chart {}

.description {
  flex-grow: 1;
  max-width: 30%;
}

.education {
  min-height: 15em;
  max-width: 100%;
  padding: 2em;
}

.education p {
  text-align: center;
}

.education img {

}

.large-container {
  display: flex;
  flex-direction: column;
}

.interview {
  background-color: WhiteSmoke;
  max-width: 50%;
}

.jobmarket {
  flex-grow: 2;
  max-width: 60%;
}

.network {
  height: 40em;
  max-width: 45%;
}

.organisation {
  max-width: 35%;
}

.personality {
  max-width: 55%;
}

.salary {
  height: auto;
  max-width: 45%;
}

.vacancies {
  max-width: 100%;
  min-height: 20em;
  padding: 2em;
}

.vacancies p {
  text-align: left;
  margin: 5px;
}

/*End of container styles  */

.chart-jobmarket {
  width: 100%;
  position: relative;
}

.counter p {
  font-size: 30px;
  text-align: center;
  border: 2px solid #14bcf0;
  border-radius: 100px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newspapercolums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.newspapercolums p {
  margin: 10px;
  width: 450px;
}

.mini-footer {
  font-size: 10px;
}

.slider {
  padding: 2em;
}

.slider-item {
  display: flex;
  padding: 1em;
  flex-direction: column;
  box-shadow: 7px 6px 5px 1px #ded2d2;
  border: 1px solid #ded2d2;
  margin: 10px;
  overflow: hidden;
}

.slider-content {}

.slider-card-vacature {}

.slider img {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

/*tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #14bcf0;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: black;
  border-radius: 10px;
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid WhiteSmoke;
  border-left: 10px solid #14bcf0;
  border-top: 13px solid WhiteSmoke;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #c9d9e6;
  color: black;
}

.tag:hover::after {
  border-left-color: #c9d9e6;
}

.menu a, p {
  text-decoration: none !important;
  color: White;
}

@breakpoint: 500px;
/* Responsive
==================================== */

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100vw !important;
  }
}
