.network-container {
  box-shadow: 7px 6px 5px 1px #542b2b;
  max-width: 60%;
  margin: 1em;
  padding: 15px;
  background-color: #f5fbfd;
  border: solid 2px #c9d9e6;
  border-radius: 15px;
  height: fit-content;
}

.network-img img {
  border: solid 2px #c9d9e6;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
