font-family: 'Barlow Semi Condensed', sans-serif;


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.master-container {
  max-width: 100%;
  box-shadow: 7px 6px 5px 1px #542b2b;
  margin: 10px, 0, 0, 5em;
  padding: 10px;
  border: solid 10px #d32f2f;
}


.master-container p, h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
