font-family: 'Barlow Semi Condensed', sans-serif;
.App {
  text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html, body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
}

.master-container {
  width: 100%;
  box-shadow: 7px 6px 5px 1px #542b2b;
  margin: 10px, 0, 0, 5em;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.master-container p, h3, h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #6B6B6B;
  line-height: 1.5em;
}

.slick-prev:before, .slick-next:before {
  color: #14bcf0;
}
